<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Addmin Add Product</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> -->


    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <style>

        label{
            color:black;
        }

    </style>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="./index" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-dark">SENHEIZER</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <!-- <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div> -->
                    <!-- <div class="ms-3">
                         <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span> 
                    </div> -->
                </div>
                <div class="navbar-nav w-100">
                    <a href="./index" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Product Details</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="./viewProduct" class="dropdown-item">View products</a>
                            <a href="./addProduct" class="dropdown-item active">Add product</a>
                        </div>
                    </div> -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Product Details</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="./viewProduct" class="dropdown-item">View products</a>
                            <a href="./addProduct" class="dropdown-item ">Add product</a>
                        </div>
                    </div>
                      
                    <a href="./userManagement" class="nav-item nav-link"><i class="fa fa-th me-2"></i>User manage</a>
                    <a href="./categoryManage" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Category manage</a>
                    <a href="./ordermanagement" class="nav-item nav-link"><i class="fa fa-box me-2"></i>Order manage</a>
                    <a href="./couponManage" class="nav-item nav-link active"><i class="fa fa-money-bill me-2"></i>Coupon manage</a>
                    <a href="./salesReport" class="nav-item nav-link"><i class= "fa fa-chart-bar me-2"></i>Sales reports </a>
                    <a href="./banner" class="nav-item nav-link"><i class= "fa fa-print me-2"></i>Banner manage</a>
                    <!-- <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a> -->
                    <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


                <!-- Content Start -->
                <div class="content">
                    <!-- Navbar Start -->
                    <%- include('navbar') %>
                    <!-- Navbar End -->
        
        
                    <!-- Blank Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="container-fluid pt-4 px-5">
                            <div class="col-12">
                                <div class="bg-light rounded h-100 p-4">
                                    <h6 class="mb-4">Responsive Table</h6>
                                    <a class="btn btn-primary" href="./addCoupon">Add new coupon</a><br><br>
        
                                    <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">CODE</th>
                                              <th scope="col">Used</th>
                                              <th scope="col">Amt</th>
                                              <th scope="col">ExpireDate</th>
                                              <th scope="col">MinimumAmt</th>
                                              <th scope="col">Active</th>
                                              <th scope="col">Action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <% for (const coupon of coupons) { %>
                                              <tr>
                                                <td><%= coupon.couponCode %></td>
                                                <td><%= coupon.user.length %></td>
                                                <td><%= coupon.reducingAmount %></td>
                                                <% if (coupon.expireDate) { %>
                                                    <td><%= coupon.expireDate.toLocaleDateString() %></td>
                                                <% } else { %>
                                                    <td>ifninite</td> 
                                                <% } %>                                                                                                  <td><%= coupon.minimumPrice %></td>
                                                <!-- <td><%= coupon.isActive ? 'No' : 'Yes' %></td> -->
                                                <td class="d-flex align-items-center">
                                                    <% if (coupon.isDeleted) { %> 
                                                       <p class="bg-danger px-3" style="color:white;">No</p>
                                                    <% } else { %>
                                                      <p class="bg-success px-3" style="color:white;">Yes</p>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <% if (coupon.isDeleted) { %> 
                                                       <button class="btn btn-warning px-3" onclick="return confirm('Are you sure?')"  disabled>DELETED</button>
                                                    <% } else { %>
                                                      <!-- <a class="btn btn-danger px-4" onclick="return confirm('Are you sure?')" href="./blockcoupon?couponId=<%= coupon._id%>">Delete</a> -->
                                                    <a class="btn btn-danger px-4" onclick="blockcoupon('<%= coupon._id %>')">Delete</a>
                                                    <script>
                                                        function blockcoupon(couponId) {
                                                            Swal.fire({
                                                                title: 'Are you sure?',
                                                                text: "To block coupon !",
                                                                icon: 'warning',
                                                                showCancelButton: true,
                                                                confirmButtonColor: 'red',
                                                                cancelButtonColor: 'green',
                                                                confirmButtonText: 'Yes'
                                                            }).then((result) => {
                                                                if (result.isConfirmed) {
                                                                    window.location.href = `./blockcoupon?couponId=${couponId}`;
                                                                }
                                                            })
                                                        }
                                                        </script>
                                                    <% } %>
                                                </td>
                                              </tr>
                                            <% } %>
                                          </tbody>
                                        </table>
                                        <div id="pagination">

                                        </div>
                                        <script>
                                            var itemsPerPage = 10;
                                            var totalItems = document.querySelectorAll('table tbody tr').length;
                                            var totalPages = Math.ceil(totalItems / itemsPerPage);
                                            var paginationContainer = document.getElementById('pagination');
        
                                            for (var i = 1; i <= totalPages; i++) {
                                                var btn = document.createElement('button');
                                                btn.style.padding="10px";
                                                btn.style.border="1px solid red"
                                                btn.innerText = i;
                                                btn.setAttribute('data-page', i);
                                                paginationContainer.appendChild(btn);
                                            }
        
                                            function showPage(page) {
                                                var rows = document.querySelectorAll('table tbody tr');
                                                rows.forEach(function(row, index) {
                                                    if (Math.ceil((index + 1) / itemsPerPage) === parseInt(page)) {
                                                        row.style.display = 'table-row';
                                                    } else {
                                                        row.style.display = 'none';
                                                    }
                                                });
                                            }
        
                                            function updateVisiblePages(page) {
                                                var startPage = Math.max(1, page - 1);
                                                var endPage = Math.min(totalPages, page + 1);
                                                var buttons = document.querySelectorAll('#pagination button');
                                                buttons.forEach(function(btn, index) {
                                                    if (index + 1 >= startPage && index + 1 <= endPage) {
                                                        btn.style.display = 'inline-block';
                                                    } else {
                                                        btn.style.display = 'none';
                                                    }
                                                });
                                            }
        
                                            paginationContainer.addEventListener('click', function(e) {
                                                if (e.target.tagName === 'BUTTON') {
                                                    var page = e.target.getAttribute('data-page');
                                                    showPage(page);
                                                    updateVisiblePages(parseInt(page));
                                                }
                                            });
        
                                            showPage(1);
                                            updateVisiblePages(1);
        
                                        </script>
                                      </div>                                     
                                </div>
                            </div>
                        </div>
                        
                    </div>
        
                    
                    <!-- Blank End -->
        
        
                    <!-- Footer Start -->
                    <!-- <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded-top p-4">
                            <div class="row">
                                <div class="col-12 col-sm-6 text-center text-sm-start">
                                    &copy; <a href="#">SENHEIZER</a>, All Right Reserved. 
                                </div>
                                <div class="col-12 col-sm-6 text-center text-sm-end">
                                    Designed by <a href="https://www.github.com/ajithr116">Ajith R</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Footer End -->
                </div>

    <!-- JavaScript Libraries -->
    <!-- <script src="/lib/chart/chart.min.js"></script> -->
    <!-- <script src="/lib/easing/easing.min.js"></script> -->
    <!-- <script src="/lib/waypoints/waypoints.min.js"></script> -->
    <!-- <script src="/lib/owlcarousel/owl.carousel.min.js"></script> -->
    <!-- <script src="/lib/tempusdominus/js/moment.min.js"></script> -->
    <!-- <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script> -->
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>