<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ProductDetails</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script> -->


    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <style>
        img {
            max-width: 100px; /* Set your desired maximum width */
            max-height: 100px; /* Set your desired maximum height */
            width: auto;
            height: auto;
            border-radius: 10px;
        }

    </style>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-dark">SENHEIZER</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <!-- <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div> -->
                    <!-- <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span> 
                    </div> -->
                </div>
                <div class="navbar-nav w-100">
                    <a href="./index" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Product Details</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="./viewProduct" class="dropdown-item active">View products</a>
                            <a href="./addProduct" class="dropdown-item">Add product</a>
                        </div>
                    </div>
                    <a href="./userManagement" class="nav-item nav-link"><i class="fa fa-th me-2"></i>User manage</a>
                    <a href="./categoryManage" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Category manage</a>
                    <a href="./ordermanagement" class="nav-item nav-link"><i class="fa fa-box me-2"></i>Order manage</a>
                    <a href="./couponManage" class="nav-item nav-link"><i class="fa fa-money-bill me-2"></i>Coupon manage</a>
                    <a href="./salesReport" class="nav-item nav-link"><i class= "fa fa-chart-bar me-2"></i>Sales reports </a>
                    <a href="./banner" class="nav-item nav-link"><i class= "fa fa-print me-2"></i>Banner manage</a>

                    <!-- <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a> -->
                    <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('navbar') %>
            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Product Form</h6>
                            <form action="./updateproduct?product=<%= product._id %>" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="_method" value="PUT">

                                <div class="mb-3">
                                    <label for="productName" class="form-label">Product ID</label>
                                    <% const newID = proID %>
                                    <input type="text" class="form-control" id="productName" value="<%= newID %>" aria-describedby="productNameHelp" disabled >
                                </div>
                        
                                <div class="mb-3">
                                    <label for="productName" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="uProductName" value="<%= product.name %>" name="uProductName"aria-describedby="productNameHelp">
                                </div>
                        
                                <!-- <div class="mb-3">
                                    <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                    <input class="form-control" type="file" id="formFileMultiple" multiple style="width: 50%;">
                                </div> -->

                                <div class="mb-3">
                                    <% for (const filename of product.images) { %>
                                        <img src="/uploads/<%= filename %>" alt="Product Image">
                                        <input type="checkbox" value="<%= filename %>" name="pppimages" checked>
                                      <% } %>                                      
                                  
                                    <br><br>
                                    <label for="formFileMultiple" class="form-label">Multiple files input</label><br>
                                    <input class="form-control" type="file" name="pImages" id="formFileMultiple" multiple style="width: 50%;">
                                    <input type="hidden" name="ppimages" value="<%= product.images %>">
                                    <div id="image-previews"></div>
                                </div>
                                <script>
                                   const fileInput = document.getElementById("formFileMultiple");
                                    const previewContainer = document.getElementById("image-previews");

                                    fileInput.addEventListener("change", (event) => {
                                    const selectedFiles = event.target.files;

                                    previewContainer.innerHTML = ""; // Clear previous previews

                                    for (let i = 0; i < selectedFiles.length; i++) {
                                        const file = selectedFiles[i];
                                        const imagePreview = document.createElement("img");
                                        imagePreview.src = URL.createObjectURL(file);
                                        imagePreview.classList.add("selected-image-preview");
                                        previewContainer.appendChild(imagePreview);
                                    }
                                    });
                                    
                                     
                                </script>


                                <div class="mb-3">
                                    <label for="category" class="form-label">Category</label>
                                    <select name="pCategory" class="form-select" id="category" aria-describedby="categoryHelp" style="width: 50%;" required>
                                        <option value="<%= product2.category._id %>"><%= product2.category.name %></option>
                                        <% for(let res of categories){ %>
                                            <% if(!res.isDeleted) {%>
                                                <option value="<%= res._id %>">
                                                    <%= res.name %>
                                                </option>
                                            <% }%>
                                        <% } %>
                                    </select>                                
                                </div>

                                
                                
                                <div class="mb-3">
                                    <label for="category" class="form-label">Brand</label>
                                    <input type="text" class="form-control" id="category" value="<%= product.brand %>" name="uProductBrand" aria-describedby="categoryHelp"  style="width: 50%;">
                                </div>

                                <div class="mb-3">
                                    <label for="category" class="form-label">Color varient</label>
                                    <input type="text" class="form-control" id="category" value="<%= product.tags %>" name="uProductTags" aria-describedby="categoryHelp"  style="width: 50%;">
                                </div>


                                <!-- <div class="mb-3">
                                    <label for="colors" class="form-label">Add colors</label>
                                    <input type="text" name="pColors" id="my-tags-input"  data-role="tagsinput" placeholder="add tags">
                                    <% const tagsString = product.tags;const tagsArray = tagsString.split(','); %>
                                  </div>
                              
                                  <button class="btn btn-primary" onclick="getTags()">Get Tags</button>-->
                              
                                  <script>
                                    $(function() {
                                      $('#my-tags-input').tagsinput(); // Initialize tags input
                                    });
                              
                                    function getTags() {
                                      const tagsArray = $('#my-tags-input').tagsinput('items');
                                      const tagsString = tagsArray.join(',');
                                      $('#hidden-tags-field').val(tagsString);

                                      //alert(tagsArray);
                                      //console.log(tagsArray); // Output: ["Amsterdam", "Washington", "Sydney"]
                                    }
                                  </script> 

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="price" class="form-label">Price</label>
                                            <input type="number" class="form-control" id="price" value="<%= product.price %>" name="uProductPrice" aria-describedby="priceHelp" step="0.01" style="width: 50%;">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="quantity" class="form-label">Quantity</label>
                                            <input type="number" class="form-control" id="quantity" value="<%= product.quantity %>" name="uProductQuantity" aria-describedby="quantityHelp" min="1" style="width: 50%;">
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- <div class="mb-3">
                                    <label for="productDescription" class="form-label">Product Description</label>
                                    <div class="form-control" id="productDescription" contenteditable="true" style="min-height:200px;">
                                        <textarea name="content" id="editor" style="height:100px;">
                                            &lt;p&gt;This is some sample content.&lt;/p&gt;
                                        </textarea>
                                    </div>
                                    
                                </div>
                                
                                <script>
                                    ClassicEditor
                                        .create( document.querySelector( '#editor' ) )
                                        .catch( error => {
                                            console.error( error );
                                        } );
                                </script> -->

                                <div class="mb-3">
                                    <label for="productDescription" class="form-label">Product Description</label>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="uProductDesc"><%= product.description %></textarea>
                                    </div>
                                </div>
                                <% if (product.isDeleted) { %> <button type="button" class="btn btn-warning" disabled href="#">Deleted</button>
                                <% } else { %>
                                  <a class="btn btn-danger" onclick="deleteProduct('<%= product._id %>')">Delete</a>
                                  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                                  <script>
                                    function deleteProduct(productId){
                                        Swal.fire({
                                            title: 'Are you sure?',
                                            text: "ITS ONE WAY !",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonColor: 'red',
                                            cancelButtonColor: 'green',
                                            confirmButtonText: 'Yes, delete it!'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = `./deleteproduct?product=${productId}`;
                                            }
                                        })
                                    }
                                  </script>
                                <% } %>
                                <!-- <a class="btn btn-success" onclick="return confirm('Are you sure?')" style="width: 10%;">UPDATE</a> -->
                                <input type="submit" class="btn btn-success"onclick="return confirm('Are you sure?')" value="UPDATE">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form End -->

            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script> -->
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>