
<style>
    /* CSS to decrease size and arrange in a column-wise layout on smaller screens */
  @media (max-width: 767.98px) {
    .filter-group {
      margin-bottom: 10px;
    }
    
    .card-body {
      padding: 8px;
    }
    
    .title {
      font-size: 14px;
    }
  }
  
  </style>
  <aside class="col-md-3">          
    <div class="card">
      <article class="filter-group">
        <header class="card-header">
          <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
            <i class="icon-control fa fa-chevron-down">
            </i>
              <h6 class="title">Product type</h6>
          </a>
        </header>
          <div class="filter-content collapse " id="collapse_1" >
            <div class="card-body">
              <form class="pb-3" action="/loadProducts?searchQuery=search" method="GET">
                <div class="input-group">
                  <input type="text" name="search"class="form-control" placeholder="Search">
                    <div class="input-group-append">
                      <button class="btn btn-light" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
              </form>
                <form action="/loadProducts?color&min&max&brand&category2" method="get">
                  <!-- <h5>Category</h5> -->
                  <select class="form-control" name="category2">
                    <option value="">Select a category</option> <% category.forEach(category => { %>
                      <option value="<%= category._id %>"><%= category.name %></option>
                    <% }) %>
                  </select>
                  
            </div> 
          </div>
        </article> 
        <article class="filter-group">
          <header class="card-header">
            <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="true" class="">
              <i class="icon-control fa fa-chevron-down"></i>
              <h6 class="title">Colors</h6>
            </a>
          </header>
            <% const uniqueColors = []; %>
            <% product2.forEach(product => {
              const colorTags = product.tags.split(',');
              colorTags.forEach(color => uniqueColors.push(color.trim()));
            });%>
            <% const uniqueColorsSet = new Set(uniqueColors);%>
            <% const uniqueColorsArray = Array.from(uniqueColorsSet);%>
            
            <div class="filter-content collapse " id="collapse_5" style="">
              <div class="card-body">
                <% uniqueColorsArray.forEach(color => { %>
                  <label class="checkbox-btn">
                    <input type="checkbox" name="color" value="<%= color %>">
                    <span><%= color %></span>
                  </label>
                <% }) %>
              </div>
            </div>
        </article>
        <article class="filter-group">
          <header class="card-header">
            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
              <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Brands </h6>
            </a>
          </header>
            <div class="filter-content collapse " id="collapse_2" style="">
              <div class="card-body">
                <% const uniqueBrands = new Set(); %>
                <% const brandCounts = {}; %>
                
                <% product2.forEach(product => {
                  uniqueBrands.add(product.brand);
                  brandCounts[product.brand] = (brandCounts[product.brand] || 0) + 1;
                }); %>
                  
                <% uniqueBrands.forEach(brand => { %>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" name="brand" value="<%= brand %>" class="custom-control-input">
                    <div class="custom-control-label" >
                      <%= brand %>
                      <b class="badge badge-pill badge-light float-right"><%= brandCounts[brand] %></b>
                    </div>
                  </label>
                <% }) %>
              </div> 
            </div>
        </article> 
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse" id="collapse_3" style="">
                <div class="card-body">
                    <!-- <input type="range" class="custom-range" min="0" max="100" name="">-->
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Min</label>
                      <input class="form-control" name="min" value="0" placeholder="$0" type="number" disabled>
                    </div> 
                    <div class="form-group text-right col-md-6">
                      <label>Max</label>
                      <input class="form-control" name="max" placeholder="10000" type="number">
                    </div>
                    </div> 
                </div>
            </div>
        </article>
        
        <!-- <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Sizes </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XS </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> SM </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> LG </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XXL </span>
                  </label>
              </div>
            </div>
        </article>  -->
        <article class="filter-group">
            <header class="card-header">
                <button type="submit" class="btn btn-block btn-primary">Apply</button>
            </header>
          <!--  <div class="filter-content collapse in" id="collapse_5" style="">
                <div class="card-body">
                    <label class="custom-control custom-radio">
                      <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                      <div class="custom-control-label">Any condition</div>
                    </label>
    
                    <label class="custom-control custom-radio">
                      <input type="radio" name="myfilter_radio" class="custom-control-input">
                      <div class="custom-control-label">Brand new </div>
                    </label>
    
                    <label class="custom-control custom-radio">
                      <input type="radio" name="myfilter_radio" class="custom-control-input">
                      <div class="custom-control-label">Used items</div>
                    </label>
    
                    <label class="custom-control custom-radio">
                      <input type="radio" name="myfilter_radio" class="custom-control-input">
                      <div class="custom-control-label">Very old</div>
                    </label>
                </div>
            </div>
        </article> -->
    </div> 
  </form><!-- card.// -->
  </aside>