</DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Orders</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Favicon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


      <!-- Bootstrap JS (required for the Bootstrap components to work) -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      }

      footer {
        margin-top: auto;
      }
      .nav-item {
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        transform: scale(1.1);
        color: #ff5e62;
    }

    </style>

  <link rel="stylesheet" href="cssu/products.css">

  </head>

<body>
    <div class="container-fluid fixed-top bg-light px-0">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <!-- Uncomment the following lines if you want to display additional information in the top bar -->
            <!-- <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt me-2"></i>123 Street, Manglore, India</small>
                <small class="ms-4"><i class="fa fa-envelope me-2"></i>info@Craftycorner.com</small>
            </div> -->
            <!-- Uncomment the following lines if you want to display social media icons in the top bar -->
            <!-- <div class="col-lg-6 px-5 text-end">
                <small>Follow us:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-twitter"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div> -->
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light py-lg-0 px-lg-5">
            <a href="/index" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold text-black m-0">SENHEIZER</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/index" class="nav-item nav-link "><i class="fas fa-home"></i> Home</a>
                    <a href="/products" class="nav-item nav-link" ><i class="fas fa-box-open"></i> Products</a>
                    <a href="/cart" class="nav-item nav-link " ><i class="fas fa-shopping-cart"></i> Cart</a>
                    <a href="/orders" class="nav-item nav-link" style="color: #ff5e62;border-bottom: 1px solid #ff5e62;"><i class="fas fa-list"></i> Orders</a>
                    <a href="/profile" class="nav-item nav-link"><i class="fas fa-user"></i> Profile</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="https://www.google.com" class="dropdown-item">Seller's Camp</a>
                            <a href="https://www.google.com" class="dropdown-item">Craftsmen</a>
                        </div>
                    </div> -->
                </div>
                <div class="d-lg-flex ms-2">
                    <a class="btn btn-outline-danger" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </div>
    <br>      
      <br><br>
    <div class="container">
        <% if(orders==0){%>
            <h2 class="d-flex justify-content-center mt-4">Orders Empty. <a href="/products">Surf now</a> </h2>
        <%}else {%>
            <div class="d-flex justify-content-between py-2">
                <h3>Orders</h3>
                <a class="btn btn-warning" href="/orderhistory">Order history</a>
            </div>
        <%}%>
        <% orders.forEach(order => { %> <!-- Loop over each order -->
            <div class="" style="border:1px solid black;border-radius: 0 0 10px 10px;">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.items.forEach(item => { %> <!-- Loop over each item in the order -->
                            <tr>
                                <td><%= item.productID.name.substring(0, 50) + (item.productID.name.length > 20 ? '...' : '') %></td>
                                <td><%= item.quantity %></td>
                                <td><%= item.price %></td>
                                <td><img style="width:70px;height:auto;" src="/uploads/<%= item.productID.images[0] %>" alt="Product image"></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>

                <div class="container" style="border:3px solid black;border-radius:10px ;background-color: rgb(214, 212, 212);">
                    <div class="row"> <!-- Add this row -->
                        <div class="col-md-5">
                            <h5>Address</h5>
                            <% if (order.shippingAddressID) { %>
                              <p>Address: <%= order.shippingAddressID.address.substring(0, 50) + (order.shippingAddressID.address.length > 20 ? '...' : '') %></p>
                              <p>Phone : <%= order.shippingAddressID.phone %></p>
                              <% if(order.orderStatus=="delivered"){%>
                                <a class="btn btn-info" href="/downloadinvoice?orderId=<%= order._id %>">Download Invoice</a>
                              <%}%>
                            <% } else { %>
                              <p>Address: Not available</p>
                              <p>Phone : Not available</p>
                            <% } %>
                          </div>
                          
                        <div class="col-md-4 pb-3">
                            <h5>Status</h5>
                            <div class="d-flex">
                                <p style>Status :</p>
                                <% if(order.orderStatus=="pending"){ %>
                                    <p class="badge badge-warninig bg-warning"> <%= order.orderStatus %></p>
                                <%}else if(order.orderStatus=="canceled"){%>
                                    <p class="badge badge-warninig bg-danger"> <%= order.orderStatus %></p>
                                <%}else if(order.orderStatus=="delivered"){%>
                                    <p class="badge badge-success bg-success" style="color:white"> <%= order.orderStatus %></p>
                                <%}%>
                            </div>
                            
                            <p>Ordered Date : <%= order.orderDate %> </p>
                        </div>
                        <div class="col-md-3">
                            <h5>Grand Total</h5>
                            <p >Total : <b><%= order.totalPrice %></b><% if(order.paymentMethod=="RAZORPAY"){%> <span class="badge badge-info">RAZORPAY</span><%}else{%>  <span class="badge badge-info">COD</span><%}%></p>
                            <%if(order.orderStatus=="pending"){%>
                                <!-- <a class="btn btn-danger" href="/deleteorder?orderId=<%= order._id %>" onclick="alert('Are you sure you want to delete ?')">Cancel Order</a> Display the status of the order -->
                                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelOrderModal">Cancel Order</a>

                                <!-- Cancel Order Modal -->
                                <div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Please select a reason for cancellation:</p>
                                        <select class="form-select mb-3" id="cancelReason">
                                        <option name="cancellationReason" selected>Choose...</option>
                                        <option value="noLongerNeeded">No longer needed</option>
                                        <option value="foundCheaper">Found a cheaper alternative</option>
                                        <option value="other">Other</option>
                                        </select>
                                        <p>Additional information:</p>
                                        <textarea name="additionalInfo" class="form-control mb-3" id="additionalInfo" rows="3"></textarea>
                                        <a class="btn btn-danger" href="/deleteorder?orderId=<%= order._id %>" >Confirm Cancellation</a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            <%}%>
                        </div>
                    </div> <!-- Close the row -->
                </div>
                
                <!-- Add a button to delete the order -->
            </div><br><br>
        <% }) %>

    </div>
    
    

    <!-- Bootstrap JS (required for the Bootstrap components to work) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <br><br><br>
    
    <!-- Footer Start -->
    <footer>
        <div class="footer-content">
          <div class="footer-section about">
            <h2>About Us</h2>
            <p>SENHEIZER.</p>
          </div>
          <div class="footer-section contact">
            <h2>Contact Us</h2>
            <p>Email: ajith8593935904@gamil.com<br>Phone: 8593935903</p>
            <!-- Add two textboxes and one button -->
            <div class="contact-form">
              <input type="text" placeholder="Your Name">
              <input type="text" placeholder="Your Email">
              <button>Contact</button>
            </div>
          </div>
          <div class="footer-section social">
            <h2>Follow Us</h2>
            <p>Stay connected on social media:</p>
            <!-- Add your social media icons or links here -->
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 SENHEIZER. All rights reserved.</p>
        </div>
      </footer>
    <!-- Footer End -->
</body>

</html>