
</DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Products</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Favicon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


<!-- Bootstrap JS (required for the Bootstrap components to work) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
.stock-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100; /* Ensure it's above the image */
}

</style>

<link rel="stylesheet" href="cssu/products.css">

</head>

<body >
    <div class="container-fluid fixed-top bg-light px-0">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <!-- Uncomment the following lines if you want to display additional information in the top bar -->
            <!-- <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt me-2"></i>123 Street, Manglore, India</small>
                <small class="ms-4"><i class="fa fa-envelope me-2"></i>info@Craftycorner.com</small>
            </div> -->
            <!-- Uncomment the following lines if you want to display social media icons in the top bar -->
            <!-- <div class="col-lg-6 px-5 text-end">
                <small>Follow us:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-twitter"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div> -->
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light py-lg-0 px-lg-5">
            <a href="/index" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold text-black m-0">SENHEIZER</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/index" class="nav-item nav-link ">Home</a>
                    <a href="/products" class="nav-item nav-link active">Products</a>
                    <a href="/cart" class="nav-item nav-link ">Cart</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="https://www.google.com" class="dropdown-item">Seller's Camp</a>
                            <a href="https://www.google.com" class="dropdown-item">Craftsmen</a>
                        </div>
                    </div> -->
                    <a href="/orders" class="nav-item nav-link">Orders</a>
                    <a href="https://www.google.com" class="nav-item nav-link">Wishlist</a>
                    <!-- <a href="https://www.google.com" class="nav-item nav-link">Contact Us</a> -->
                    <a href="/profile" class="nav-item nav-link">Profile</a>
                </div>
                <div class="d-none d-lg-flex ms-2">
                    <a class="btn btn-outline-danger" href="/logout">Logout</a>
                </div>
            </div>
            
        </nav>
    </div>
        <br><br><br><br>
        <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-2">
                          <img src="images/img5.jpg" class="d-block w-10" alt="First slide" style="height: 100px;">
                      </div>
                      <div class="col-10 d-flex align-items-center justify-content-center">
                          <div>
                              <h5>Lorem, ipsum dolor sit amet consectetur dam commodi eligendi corporis id quos voluptates nobis a placeat, aliquam fugit sit iste, similique fugiat animi natus?</h5>
                              <button type="button" class="btn btn-primary"> Button</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-2">
                        <img src="images/img5.jpg" class="d-block w-10" alt="First slide" style="height: 100px;">
                    </div>
                    <div class="col-10 d-flex align-items-center justify-content-center">
                        <div>
                            <h5>Lorem, ipsum dolor sit amet consectetur dam commodi eligendi corporis id quos voluptates nobis a placeat, aliquam fugit sit iste, similique fugiat animi natus?</h5>
                            <button type="button" class="btn btn-primary"> Button</button>
                        </div>
                    </div>
                </div>
                
            </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-2">
                        <img src="images/img5.jpg" class="d-block w-10" alt="First slide" style="height: 100px;">
                    </div>
                    <div class="col-10 d-flex align-items-center justify-content-center">
                        <div>
                            <h5>Lorem, ipsum dolor sit amet consectetur dam commodi eligendi corporis id quos voluptates nobis a placeat, aliquam fugit sit iste, similique fugiat animi natus?</h5>
                            <button type="button" class="btn btn-primary"> Button</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
      
        <br>
    <!-- PRODUCTS -->
    <!-- <div class="position-fixed" style="width:390px;height:500;border:1px solid black;margin-top: -60;">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="images/img5.jpg" class="d-block w-100" alt="First slide">
              </div>
              <div class="carousel-item">
                  <img src="images/about.jpg" class="d-block w-100" alt="Second slide">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque ut aliquam provident minima accusamus beatae alias sed error? Sapiente, doloribus? Magnam odio cumque aliquam ex ducimus natus maxime eligendi voluptatibus?</p>
  </div> -->
  
    <div class="container">
      <div class="row">
        <%- include('filterBox') %>
        <main class="col-md-9">
          
          <!-- <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <select class="mr-2 form-control" name="category">
                  <% category.forEach(category =>{%>
                    <option value="<%= category.name %>"><%= category.name %></option>
                  <%})%>
                </select>
            </div>
          </header> -->

          <div class="row">
              <!-- <div class="col-md-4">
                  <figure class="card card-product-grid">
                    <div class="img-wrap">
                      <img src="images/img5.jpg" class="img-fluid" style="border-radius: 10px;">
                      <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                    </div> <figcaption class="info-wrap">
                      <div class="fix-height">
                        <a href="#" class="title">Great item name goes here</a>
                        <div class="rating-price-wishlist">
                          <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <i class="fa fa-star-half-o"></i>
                            <span class="rating-count">150+</span>
                            
                          </div>
                          <div class="price-wishlist">
                            <div class="price-wrap">
                              <span class="price">$1280</span>
                              <a href="#" class="wishlist-icon"><i class="fa fa-heart"></i></a> </div>
                            </div>
                        </div>
                      </div>
                      <div class="actions">
                        <a href="#" class="btn btn-outline-light " style="color:black;border: 1px solid black;">Add to cart</a>
                        <a href="#" class="btn btn-dark">Buy now</a>
                      </div>
                    </figcaption>
                  </figure>
              </div>  -->
                
              
              <% products.forEach(product => { %>
                <% if (product.isDeleted !== true) { %>
                <div class="col-md-4">
                  <figure class="card card-product-grid">
                    <div class="img-wrap">
                      <!-- <span class="badge badge-danger"> NEW </span> -->
                      <% if(product.quantity==0){ %>
                        <span class="badge badge-danger stock-badge">In Stock <span class="badge-light px-1"><%= product.quantity %></span></span>
                      <%}else{%>
                        <span class="badge badge-success stock-badge">In Stock <span class="badge-light px-1"><%= product.quantity %></span></span>
                      <%}%>

                      <img src="/uploads/<%= product.images[0] %>" class="img-fluid" style="border-radius: 10px; width: 200px; height: 200px;">                
                      <a class="btn-overlay" href="/productPage?productId=<%= product._id %>"><i class="fa fa-search-plus"></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap">
                      <div class="fix-height">
                        <a href="/productPage?productId=<%= product._id %>" class="title"><%= product.name.substring(0, 50) + (product.name.length > 20 ? '...' : '') %></a>
                        <div class="rating-price-wishlist">
                          <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <i class="fa fa-star-half-o"></i>
                            <span class="rating-count">150+</span>
                            
                          </div>
                          <div class="price-wishlist">
                            <div class="price-wrap">
                              <span class="price">$<%= product.price %></span>
                              <!-- <del class="price-old">$1980</del> -->
                              <a href="#" class="wishlist-icon" data-product-id="<%= product._id %>">
                                <i class="fa fa-heart"></i>
                              </a>                            
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="actions">
                        <%if(product.quantity==0){%>
                          <button  class="btn btn-outline-light " style="color:black;border: 1px solid black;" disabled>Add to cart</button>
                        <%}else{%>
                          <a href="/addtocart?productId=<%= product._id %>" class="btn btn-outline-light " style="color:black;border: 1px solid black;">Add to cart</a>
                        <%}%>
                        <a href="https://www.google.com" class="btn btn-dark">Buy now</a>
                      </div>
                    </figcaption>
                  </figure>
              </div>
              <%}%>
            <%})%> 
          </div> 
          <!-- row end.// -->
          <script>
            $(document).ready(function() {
            $('.wishlist-icon').on('click', function(event) {
                event.preventDefault();
                var productId = $(this).data('product-id');
                $.ajax({
                    url: '/wishlist', 
                    type: 'POST',
                    data: { productId: productId },
                    success: function(response) {
                        if($(event.target).css('color') === 'rgb(255, 0, 0)') {
                            // If the heart icon is currently red, change it to normal
                            $(event.target).css('color', '');
                        } else {
                            // If the heart icon is currently normal, change it to red
                            $(event.target).css('color', 'red');
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        console.log("Error", err);
                    }
                });
            });
        });

        </script>
        
        
    
          <nav class="mt-4" aria-label="Page navigation sample">
            <ul class="pagination">
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </main>
      </div>
    </div>
    <!-- PRODUCTS -->
    <!-- Bootstrap JS (required for the Bootstrap components to work) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <br><br><br>
    
    <!-- Footer Start -->
    <footer>
        <div class="footer-content">
          <div class="footer-section about">
            <h2>About Us</h2>
            <p>Your company description goes here.</p>
          </div>
          <div class="footer-section contact">
            <h2>Contact Us</h2>
            <p>Email: example@example.com<br>Phone: +123 456 7890</p>
            <!-- Add two textboxes and one button -->
            <div class="contact-form">
              <input type="text" placeholder="Your Name">
              <input type="text" placeholder="Your Email">
              <button>Contact</button>
            </div>
          </div>
          <div class="footer-section social">
            <h2>Follow Us</h2>
            <p>Stay connected on social media:</p>
            <!-- Add your social media icons or links here -->
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 Your Website. All rights reserved.</p>
        </div>
      </footer>
    <!-- Footer End -->
</body>

</html>